/* use google font */


.merriweather-first-font {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-second-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* use google font */

/* shared styel start */
    .text-center{
        text-align: center;
    }
/* shared styel end */
 header, main{
     max-width: 1320px;
     margin: 0px auto;
     
 }

/* banner style section start */

.banner{
    margin-top:50px ;
    background-image:linear-gradient(to right,rgba(7, 2, 17,0.4) 0%,rgba(7, 2, 17,0.4) 100%), url(../images/Banner\ Image.png);
    background-size: cover;
    height: 600px;
    border-radius: 16px;
}
.banner-content{
   padding: 170px ;
}
 .banner-title{
    text-align: center;
    color: #FFFFFF;
    font-size: 32px;
    margin-bottom: 0px;
 }
 .banner-motive{
    text-align: center;
    color: #FFFFFF;
    font-size: 72px;
    margin-top: 10px;
 }
/* banner style section end */

/* discount section styles start */
 .discount{
    max-width: 800px;
    margin: 120px auto;
 }

 .discount-title{
    text-align: center;
    font-size: 88px;
    font-weight: bold;
    color: #FF0000;
 }
 .discount-description{
    text-align: center;
    font-size: 24px;
    font-weight:600;
    color: #FF0000;
    margin-bottom: 0px;
 }
 .discount-catagory{
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-top: 10px;
 }
/* discount section styles end*/
.party{
    background-image: linear-gradient(to right, rgba(7, 2, 17, 0.5) 0%,rgba(7, 2, 17, 0)100%), url('../images/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    display: flex;
    border-radius: 16px;
}

 .party-title{
    font-size: 64px;
    color: #FFFFFF;
    padding-left: 125px;
    padding-top: 125px;
 }
 .party-description{
    font-size: 18px;
    color: #FFFFFF;
    max-width: 697px;
    padding-left: 125px;
 }
 .party-img{
    padding: 67px 130px 67px 39px;
 }
/* party section style end */
/* party information section style start */
 .party-information{
    text-align: center;
    background-image: linear-gradient(to bottom,rgba(255, 0, 0,0.1)0%,rgba(255, 0, 0,0)100%);
    padding:100px 185px;
    margin-top: 120px;
    margin-bottom: 120px;

 }
 .party-place{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
 }
 .party-information h3 span{
    color: #FF0000;
 }
 .party-join-button{
    color: #FFFFFF;
    background-color:#FF0000;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
 }
/* party information section style end */

/* new offer section style start */
 .new-best-offer{
    display: flex;
    justify-content: space-around;
 }
 .offer-content{
    max-width: 393px;
    /* padding: 104px 0px 104px 0px; */
 }
 .offer-title{
    font-size: 24px;
    font-weight: 600px;
    color: #FF0000;
 }
 .offer-headline{
    font-size: 48px;
    color: #070211;
 }
 .offer-description{
    font-size: 20px;
    color: #070211;
 }
 .offer-pic{
    max-width: 460px;
    border: 12px solid red;
    border-radius: 50%;
 }
 .offer-time{
    max-width: 276px;
 }
 .offer-year{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
 }
/* new offer section style end */
